.firebase-login {
  .social-auth-providers {
    margin-bottom: 2em;
    margin-top: 2em;
  }
  form {
    max-width: 24em;
    input {
      margin: .25em 0;
      padding: .25em;
      border: solid 1px #ccc;
      width: 100%;
      &:focus {
        border: solid 1px #aaa;
      }
    }
    .buttons {
      padding-top: 1em;
    }
    .hint {
      font-size: .75em;
    }
    .error-message {
      color: red;
      margin: .5em;
      padding-top: .5em;
    }
  }
}
